* {
    background-color: gray;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;
}

#calculator-border {
    border: 5px #4b1b5a solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7c3c74;
}

#current-num,
#calc-display {
    background-color: #b2b9b7;
}

#current-num {
    margin-right: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#calc-display {
    width: 250px;
    height: 60px;
    font-size: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px 0 20px 0;
}

.buttons {
    background-color: #7c3c74;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 350px;
    gap: 5px;
    margin-bottom: 10px;
}

.button {
    color: black;
    border: 2px solid #4b1b5a;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#zero {
    width: 125px;
}

.operators {
    background-color: #84369b;
}

.numbers {
    background-color: #dd76cf;
}

.misc {
    background-color: #e22fca;
}

.button:active.numbers {
    background-color: #FFC3FF;
}

.button:active.misc {
    background-color: #FFC3FF;
}

.button:active#equal {
    background-color: #D183E8;
}